<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>subject</title>
    </head>
    <body>
        
        <h1>Helo from EJS</h1>
        
        <h2>it is working </h2>
        <h3><%= data.fname+' '+data.lname %></h3>
        <h4><%= data.msg %></h4>
    </body>
</html>